body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    padding: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:aqua; */
    /* padding: 10px 50px; */
    /* position: fixed; */
     text-align: center;
}
.Options{
    font-size: 18;
    width: 386px;
    height: 27px;
    gap: 35px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.global{
    display: flex;
    /* background-color: yellow; */
    
    
}
.social{
    flex-direction: column;
    /* margin-left: 50px; */
    display: flex;
    /* background-color: blue; */
    margin-top: 40%;
}
.Rede{
    width: 44px;

}
.vermelha{
    /* background-color: red; */
    flex-grow: 1;
}
.marvel_character{
    margin: 140px 194px 90px 150px;
    /* background-color: aquamarine; */
    width: 441px;
    height: 324px;
}
.marvel_fan{
    margin: 150px 0px 90px 150px;
    width: 362px;
    height: 57px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
main{
    display: flex;
    justify-content: space-between;
}
.iron_man{
    display: flex;
    flex-direction: column-reverse;
    transform: rotate(270deg);
    position: absolute;
    font-size: 100px;
    right: -300px;
    top: 40%;
    color: #8A2D5E80;
}
.image_iron_man{
    padding-right: 30%;
}
footer{
    display: flex;
    justify-content: end;
    margin-top: 4%;
}
h2{
    font-size: 80px;
    color: #8A2D5E80;
    padding-bottom: 50px;
}
h3{
    font-size: 25px;
    padding-bottom: 10px;
}
h4{
    font-size: 20px;
}
.texto{
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}
